.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
//actor
.button1{
    display: block;
}

.selectProfessionButton{

    display: inline-block;
}

#actorButton{
    float: left;
}

#agentButton{
    float: right;
}

#poop{
    text-align: center;
}
#oppai{
    text-align: center;
}