page-interest {
    .Comedy{
        text-align:center;
    }
    .Horror{
      text-align:center;
    }
    .Drama{
        text-align:center;
    }
    .Romance{
        text-align:center;
    }
}
