page-view1 {

#TE{
    display: block;
    margin-left: 8.65em;
}

.list{
    z-index: -1;
}
.toolbar-background{
    background-color: #FF0000;
    color: white !important;
}
.toolbar-title{
    color: white !important;
}
ion-header ion-icon.back-button-icon.icon {
    color: white !important;
}
}

.back-button{ 
    color: white !important;
}
#contact{
    display: block;
    height: 40px;
    width: 170px;
    margin: auto;
    background-color: #FF0000;

}
#agentBtn{
    display: block;
    height: 40px;
    width: 135px;
    margin:auto;
    background-color: #FF0000;
}