page-agent {
    .toolbar-background{
        background-color: #ED1C24;
        color: white !important;
    }
    .toolbar-title{
        color: white !important;
    }
    #Pro{
        height: 50px;
        width: 50px;
    }
}

